/*젠틀 고딕체*/
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*코레일 둥근고딕*/
@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*더 잠실체 - 로고*/
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*Note Sans*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

.logo {
	font-family: 'TheJamsil5Bold';
	
}

h1, .h1, h2, .h2,h3, .h3, h4, .h4, .h5 {
  font-family: "PuradakGentleGothicR"; 
  }
  
h5{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;

}

p {
	font-family: 'Noto Sans KR', sans-serif;

}
  
p, a, h1, h2, h3, h4, h5, h6 {
    transform: skew(-0.1deg);
}
